<h1>Create your own balance sheet</h1>
<p>Personal balance sheet app</p>



<td><%= link_to 'Add income', new_income_path %></td>
<td><%= link_to 'Add expense', new_expense_path %></td>
<td><%= link_to 'See the balance', expenses_path %></td>
